@{
    ViewData["Title"] = "Tạo mới lớp học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Không thể tìm thấy lớp học.</h1>
<p class="text-danger">Có thể bạn đã nhập sai mã lớp hoặc lớp học đang bị tạm khoá, liên hệ quản trị viên để được khắc phục.</p>