@page
@*@model AccessDeniedModel*@
@model Areas_Identity_Pages_Account_AccessDenied
@{
    ViewData["Title"] = "Quyền truy cập bị từ chối";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Rất tiếc, bạn không có quyền truy cập vào tài nguyên này. Vui lòng liên hệ quản trị viên để được cấp quyền.</p>
</header>
